<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ asset('images/favicon.png') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="wrapper">
                <div class="overlay"></div>
                {% block sidebar %}
                <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <div class="sidebar-header">
                            <div class="sidebar-brand">
                                <a href="/">My Reads</a>
                            </div>
                        </div>
                        <li><a href="/reads">Reads</a></li>
                        <li><a href="/books">Books</a></li>
                        <li><a href="/authors">Authors</a></li>
                    </ul>
                    <a href="/logout"><button class="btn"><i class="fa fa-sign-out"></i> Logout</button></a>
                </nav>
                {% endblock %}
                <div id="page-content-wrapper">
                
                    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                        <span class="hamb-top"></span>
                        <span class="hamb-middle"></span>
                        <span class="hamb-bottom"></span>
                    </button>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-lg-10 col-lg-offset-2">
                                {% block content %}   
                                {% endblock %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        {% endblock %}
    </body>
</html>