<div class="modal" id="new-read-modal">
  <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">Add a new read</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
            {% for message in app.session.flashBag.get('notice') %}
                <div class="alert {{alertClass}}">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form(createForm) }}
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

    </div>
  </div>
</div>