{% extends 'base.html.twig' %}

{% block title %}Update read{% endblock %}
{% block content %}
    {% for message in app.session.flashBag.get('notice') %}
        <div class="alert {{alertClass}}">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}
<script>
    progressInput = document.querySelector("#update_read_progress");
    reviewInput = document.querySelector("#update_read_review");
    progressInput.addEventListener("change", (event) => {
        console.log(event.target.value);
        if (event.target.value == {{ read.getBook().getPages() }}) {
            reviewInput.disabled = false;
        } else {
            reviewInput.disabled = true;
        }
    });
</script>
{% endblock %}